.spec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.spec-table {
  border-collapse: collapse;
  font-size: 14px;
}

.spec-table th,
.spec-table td {
  border: 1px solid  #e5e4e7;
  text-align: center;
  font-weight: 400;
  padding: 8px 12px;
}
